* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page1 {
  background-color: #5793f8;
}
.page2 {
  background-color: #dda450;
}
.toc {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(70px, -50%);
  background-color: #303133;
  color: #fff;
  line-height: 2;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 5px #fff;
  transition: 0.3s;
}
.toc:hover {
  transform: translateY(-50%);
  background-color: #000;
}
.toc a {
  display: block;
}
.page1 img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  transition: .2s;
}
.page1 img:hover {
  transform: scale(1.3);
}
.page1 .iconfont {
  font-size: 2em;
  color: yellow;
}
.page1 p {
  color: #fff;
  margin: 1em 0 3em;
}
.arrow {
  height: 2px;
  width: 400px;
  background-color: #000;
  position: relative;
}
.arrow::before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: -9px;
  right: -20px;
}
.desc {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  position: relative;
}
.desc::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  border-left-width: 20px;
  transform: rotate(137deg);
  left: 50%;
  top: -12px;
}